@mixin mobile {
  @media only screen and (max-width: 425px) {
    @content;
  }
}
@mixin tablet {
  @media only screen and (min-device-width: 426px) and (max-device-width: 768px) {
    @content;
  }
}
@mixin labtop {
  @media only screen and (min-device-width: 769px) and (max-device-width: 1025px) {
    @content;
  }
}
@mixin labtoplg {
  @media only screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
    @content;
  }
}
// 1281px desktop
@mixin desktop {
  @media only screen and (min-device-width: 1440px) {
    @content;
  }
}

@mixin transition($second) {
  transition: all #{$second}s ease-in-out;
}

@mixin overlay($isHover: false) {
  @if $isHover {
    transform: scale(1);
    z-index: 5;
  } @else {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(5, 165, 128, 0.51);
    display: flex;
    justify-content: center;
    align-items: center;
    @include transition(0.3);
    transform: scale(0);
    z-index: -1;
  }
}

@mixin flip {
  [dir="ltr"] & {
    transform: rotate(-180deg);
  }
}

@mixin ltr {
  [dir="ltr"] & {
    @content;
  }
}
@mixin rtl {
  [dir="rtl"] & {
    @content;
  }
}
