$primary: rgba(13, 94, 63, 1);
$dark-primary: #093544;
$primary-light: hsla(156, 89%, 75%, 0.8);
$secondary: #3e6374;
$dark-secondary: #354b41;
$third: #b3ccbf;
$white: #fff;
$light-green: #cfe9da;
$dark-green: #002116;
$light-secondary: #7e968a;
$light-mint: #bcffe0;
$light-primary: #ddf7e8;
$light-blue: #c2e8fc;
$mint: #cfe9da;
$dark-mint: #4c6358;
$blue-light-1: #7196a8;
$blue-light-2: #577c8e;
$blue-light-3: #e0f4ff;
$blue-light-4: #fafcff;
$blue-light-5: #a6cce0;
$blue-light-6: #f4faff;
$error: #ba1a1a;
$blue-dark-1: #191c1a;
$mint-light-1: #657c71;
$primary-20: #cfe9da;
$primary-80: #68dbaf;
$primary-50: #26a37c;
$light-primary-1: #f4fff7;
$dark-blue: #1f352b;

:export {
  primary: $primary;
  light-primary-1: $light-primary-1;
  dark-primary: $dark-primary;
  secondary: $secondary;
  dark-secondary: $dark-secondary;
  light-secondary: $light-secondary;
  light-green: $light-green;
  dark-green: $dark-green;
  third: $third;
  white: $white;
  light-mint: $light-mint;
  light-primary: $light-primary;
  light-blue: $light-blue;
  mint: $mint;
  dark-mint: $dark-mint;
  blue-light-1: $blue-light-1;
  blue-light-2: $blue-light-2;
  blue-light-3: $blue-light-3;
  blue-light-4: $blue-light-4;
  blue-light-5: $blue-light-5;
  blue-dark-1: $blue-dark-1;
  blue-light-6: $blue-light-6;
  mint-light-1: $mint-light-1;
  error: $error;
  primary-20: $primary-20;
  primary-80: $primary-80;
  dark-blue: $dark-blue;
}
