.v-dialog {
    box-shadow: 0px 20px 20px rgba(0, 56, 39, 0.1) !important;
    border-radius: 24px !important;
    border: 0 !important;
    .v-card {
        box-shadow: 0px 20px 20px rgba(0, 56, 39, 0.1) !important;
        border-radius: 24px !important;
        border: 0 !important;
    }
}
